h1 {
  font-size: 40px;
  font-weight: 600;
  color: #b2d48b;
  letter-spacing: 1px;
  text-align: center;
}
p {
  font-size: 20px;
  font-weight: 600;
  color: #b2d48b;
  letter-spacing: 1px;
}
a{
  font-size: 20px;
  font-weight: 600;
  color: #b2d48b;
  letter-spacing: 1px;
  text-align: center ;
}